@font-face {
    font-family: 'Mont';
    font-style: bold;
    src: local('Mont'), url(./fonts/Mont-Bold.ttf) format('truetype');
  }

@font-face {
    font-family: 'Mont';
    font-style: 'semibold';
    src: local('Mont SemiBold'), url(./fonts/Mont-SemiBold.ttf) format('truetype');
  }